.header-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  @media screen and (max-width: 460px) {
    background-color: var(--red);
  }

  .header-container__youtube-icon {
    margin-left: 10px;
    margin-right: 10px;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
  }

  .header-container__search-input-container {
    flex-grow: 1;
  }
}